
@model TeamMember
@{
    ViewData["Title"] = "Create";
}


<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update</h4>
            <form enctype="multipart/form-data" class="forms-sample" method="post">
                <div class="form-group">
                    <label>Photo</label>
                    <input asp-for="Image" accept="image/*" class="form-control" placeholder="Photo">
                    <span class="text-danger" asp-validation-for="Image"></span>
                </div>
                <div class="form-group">
                    <label>Tittle</label>
                    <input asp-for="Name" class="form-control" placeholder="Tittle">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input asp-for="Position" class="form-control" placeholder="Description">
                    <span class="text-danger" asp-validation-for="Position"></span>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Update Save</button>
                <button asp-action="Index" class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>

